/* You can add global styles to this file, and also import other style files */

@import "~css-star-rating/scss/star-rating";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f1f1f1;
  margin: 10px;
}

.mat-snack-bar-container.toast-message {
  display: flex;
  justify-content: center;

  &.toast-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  &.toast-failure {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

.mat-snack-bar-handset .mat-snack-bar-container.toast-message {
  margin: 20px;
}

.mat-progress-spinner {
  right: calc(50% - 50px);
}
