@import '../variables';

:host {
  display: block;
  margin: 0 auto;
  max-width: 767px;
  min-width: 250px;
}

.mat-expansion-panel-body {
  display: flex;
  justify-content: center;
}

.mat-expansion-panel-header-title {
  font-size: 1.4rem;
  font-family: $font-family-arial;
  @include mobile() {
    font-size: 1.1rem;
  }
}

mat-expansion-panel-header {
  height: auto !important;
  padding: 10px 24px;
}

.average {
  color: green;
}

.mat-expansion-panel-header-title {
  justify-content: space-between;
}
