<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card-content>
    <ul>
      <li *ngFor="let clause of clauses">
        <span>{{clause.title | translate}}</span>
        <star-rating-control
        *ngIf="ctrlMap.has(clause.title)"
        [starType]="'svg'"
        [numOfStars]="10"
        [size]="'large'"
        [formControl]="ctrlMap.get(clause.title)"
        staticColor="ok"></star-rating-control>
        <span>{{form.value[clause.title]}}/10</span>
      </li>
      <mat-error *ngIf="trlMap.get(clause.title).valid"></mat-error>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button type="submit">{{'rate' | translate}}</button>
  </mat-card-actions>
</form>
