<form [formGroup]="form" #f="ngForm" (ngSubmit)="submit()">
  <mat-card-content>
    <ul class="clauses-list">
      <li class="clauses-list-li" *ngFor="let clause of clauses">
        <ng-template [ngIf]="ctrlMap.has(clause.title)">
          <span class="title">{{clause.title | translate}}</span>
          <div class="stars">
            <star-rating-control
            [numOfStars]="10" 
            [formControl]="ctrlMap.get(clause.title)"
            [staticColor]="f.submitted && ctrlMap.get(clause.title).invalid ? 'negative' : 'ok'"
            [space]="'around'"></star-rating-control>
            <span class="numeric-result">{{form.value[clause.title]}}/10</span>
            <mat-error *ngIf="f.submitted && ctrlMap.get(clause.title).invalid">{{'chooseRating' | translate}}</mat-error>
          </div>
        </ng-template>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">{{'rate' | translate}}</button>
  </mat-card-actions>
</form>