<form [formGroup]="form" #f="ngForm" (ngSubmit)="submit()">
  <mat-card-content>
    <ul class="clauses-list">
      <li class="clauses-list-li" *ngFor="let clause of clauses">
        <ng-template [ngIf]="ctrlMap.has(clause.title)">
          <span class="title">{{clause.title | translate}}</span>
          <div class="stars">
            <star-rating-control [starType]="'svg'" [numOfStars]="10" [size]="'large'" [formControl]="ctrlMap.get(clause.title)"
              staticColor="ok"></star-rating-control>
            <span>{{form.value[clause.title]}}/10</span>
          </div>
          <mat-error *ngIf="f.submitted && ctrlMap.get(clause.title).invalid">{{'chooseRating' | translate}}</mat-error>
        </ng-template>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button type="submit">{{'rate' | translate}}</button>
  </mat-card-actions>
</form>