.clauses-list {
    list-style: none;
    padding: 0;
}

.clauses-list-li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    flex-basis: 35%;
}

.stars {
    flex-basis: 65%;
    display: flex;
    align-items: center;
}

.mat-error {
    flex-basis: 100%;
}