@import '../variables';

.clauses-list {
    list-style: none;
    padding: 0;
}

.clauses-list-li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    @include mobile() {
        flex-direction: column;
    }
}

.title {
    flex-basis: 40%;
    font-size: 1.2rem;
    font-family: $font-family-arial;
    @include mobile() {
        text-align: center;
    }
}

.stars {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    @include mobile() {
        flex-direction: column;
    }
}

.numeric-result {
    font-size: 1.1rem;
    width: 70px;
    text-align: center;
}
.mat-error {
    position: absolute;
    top: 20px;
    right: 7px;
    @include mobile() {
        position: static;
    }
}

star-rating-control {
    width: 100%;
}
