<form [formGroup]="form" #f="ngForm" (ngSubmit)="submit()" *ngIf="!loading">
  <mat-card-content>
    <ul class="clauses-list">
      <li class="clauses-list-li" *ngFor="let clause of clauses">
        <ng-template [ngIf]="ctrlMap.has(clause.title)">
          <span class="title">{{clause.desc}}</span>
          <div class="stars">
            <star-rating-control
            [starType]="'icon'"
            [numOfStars]="5"
            [size]="'large'"
            [formControl]="ctrlMap.get(clause.title)"
            [staticColor]="f.submitted && ctrlMap.get(clause.title).invalid ? 'negative' : 'ok'"
            [space]="'around'"
            [disabled]="admin"
            ></star-rating-control>
            <span class="numeric-result">{{form.value[clause.title]}}/5</span>
            <mat-error *ngIf="f.submitted && ctrlMap.get(clause.title).invalid">{{'chooseRating' | translate}}</mat-error>
          </div>
        </ng-template>
      </li>
    </ul>
    <p class="average" *ngIf="admin && project?.average">{{'average' | translate}}: {{project?.average}}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="!admin">
    <button mat-raised-button color="primary" type="submit">{{'rate' | translate}}</button>
  </mat-card-actions>
</form>
<mat-spinner *ngIf="loading"></mat-spinner>
